@model PruebaASPNETEmbocador.Models.Usuarios

@{
    ViewBag.Title = "LoginTrabajadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Assets/css/loginAdminOk.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="contenedorIdUsuario p-4">

        <h3 class="text-center">Panel de usuario</h3>
        <br />
        @if (TempData["MensajeFichar"] != null)
        {
            <script type="text/javascript">
                Swal.fire({
                    title: 'Información importante',
                    html: '<b>@Html.Raw(TempData["MensajeFichar"])</b><br><br>Fecha y Hora último fichaje: @Html.Raw(TempData["HoraFecha"])',
                    icon: 'info',
                    iconColor: 'red',
                    confirmButtonText: 'Aceptar',
                    customClass: {
                        confirmButton: 'btn btn-primary'
                    },
                    buttonsStyling: false
                });
            </script>
        }

        <div class="containerNav text-center">

            <nav class="barraNavAdmin nav justify-content-center">
                @using (Html.BeginForm("RegistrarEntrada", "FicharTurnos", FormMethod.Post))
                {
                    @Html.Hidden("loginPanel", "trabajador") <!-- Campo oculto para loginPanel -->
                    <button type="submit" class="navLink nav-item nav-link" style="font-weight: bolder; border: none; background: none;">Registrar entrada</button>
                }
                @using (Html.BeginForm("RegistrarSalida", "FicharTurnos", FormMethod.Post))
                {
                    @Html.Hidden("loginPanel", "trabajador") <!-- Campo oculto para loginPanel -->
                    <button type="submit" class="navLink nav-item nav-link" style="font-weight: bolder; border: none; background: none;">Registrar salida</button>
                }
                @Html.ActionLink("Consultar turnos y horarios", "Index", "TurnosHorarios", new { area = "", loginPanel = "trabajador" }, new { @class = "navLink nav-item nav-link" })
                @Html.ActionLink("Gestionar mi usuario", "Edit", "Usuarios", new { id = Model.IDUsuario, loginPanel = "trabajador" }, new { @class = "navLink nav-item nav-link" })
            </nav>

        </div>
        <div class="text-center mt-5 mb-5">
            @using (Html.BeginForm("Logout", "InicioAdmins", FormMethod.Post))
            {
                @Html.Hidden("loginPanel", "trabajador") <!-- Campo oculto para loginPanel -->
                <button type="submit" class="btnCerrarSesion">Cerrar sesión</button>
            }
        </div>

    </div>
</div>



